# Database
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres"

# Auth
JWT_SECRET="your-secret-jwt-key"

# Server Ports
PORT=4000
PATIENT_WEB_PORT=3000
HOSPITAL_PORTAL_PORT=3001
ADMIN_PANEL_PORT=3003

# Email SMTP Credentials (Gmail App Password)
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-gmail-app-password"
