# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/healthcare_db?schema=public"

# Auth
JWT_SECRET="super-secret-jwt-key-healthcare-platform"
JWT_REFRESH_SECRET="super-secret-refresh-jwt-key-healthcare-platform"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"

# Server Ports
PORT=4000
PATIENT_WEB_PORT=3000
HOSPITAL_PORTAL_PORT=3001
ADMIN_PANEL_PORT=3003

# Next Auth / Public API URLs
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
NEXT_PUBLIC_WS_URL="ws://localhost:4000"

# Optional Zero-Cost Email OTP Credentials (Gmail App Password)
# If left blank, OTPs will log cleanly in the backend terminal console.
SMTP_USER="onlinehospitalconsultation@gmail.com"
SMTP_PASS="dqrq zqzj wwix xmlx"
